<h1 class="StaticHeader">About RecordStore</h1>
<p>RecordStore is a web application designed by <a href="http://www.ryantimmonsdev.com">Ryan Timmons</a>.</p>
<p>RecordStore is built on the Ruby on Rails framework.  It utilizes PostgreSQL for database storage, and was deployed via Heroku.</p>
<p>You can find the codebase driving RecordStore on its GitHub page <a href="https://github.com/timmonsryan/RecordStore">here</a>.</p>
	