<%= render 'vinyl_header' %>

<div id="VinylViewSelect">
	<p class="VinylView"><%= link_to "List View", vinyls_path %></p>
	<p>&nbsp|&nbsp</p>
	<p class="VinylView">Detail View</p>
</div>

<% if @vinyls %>
	<% @vinyls.each do |v| %>
		<%= render 'vinyl_detail', vinyl: v %>
	<% end %>
<% else %>
	<h4>You currently have no albums.</h4>
	<h4>Get cracking and add some!</h4>
<% end %>

<br/>
<div class="BottomLink">
<%= link_to "Add Vinyl", new_vinyl_path, class: "btn btn-danger" %>
</div>

