<%= render 'vinyl_header' %>

<div id="VinylViewSelect">
	<p class="VinylView">List View</p>
	<p>&nbsp|&nbsp</p>
	<p class="VinylView"><%= link_to "Detail View", vinyl_detail_preferred_path %></p>
</div>

<% if @vinyls && @vinyls.count > 0 %>
	<div id="VinylCollection">
		<% @vinyls.each do |vinyl| %>
			<%= render 'vinyl_default', vinyl: vinyl %>
		<br/>
		<% end %>
	</div>
<% else %>
	<h4>You currently have no albums.</h4>
	<h4>Get cracking and add some!</h4>
<% end %>

<br/>
<div class="BottomLink">
	<%= link_to "Add Vinyl", new_vinyl_path, class: "btn btn-danger" %>
</div>