<% if flash[:notice] %>
	<p class="flash_notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
	<p class="flash_error"><%= flash[:notice] %></p>
<% end %>
<% if flash[:success] %>
	<p class="flash_success"><%= flash[:notice] %></p>
<% end %>