// Place all the styles related to the Vinyls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*#VinylInfo {
	float: left;
	display: inline-block;
	margin: 0 auto;
	border: 2px solid black;
	padding: 2px;
	text-align: center;
}*/

#VinylInfo {
	float: left;
}

#VinylActions {
	float: right;
}

#VinylCollection {
	width: 350px;
	margin: 0 auto;
}

.BottomLink {
	clear: both;
	margin: 5px 5px;
}

h1:hover {
	text-decoration: none;
	color: white;
}

h1 {

	a {
		text-decoration: none;
		color: white;
	}

	background-image: linear-gradient(to bottom, #BA1B20, red);
	color: white;
	margin: -5px -5px 5px -5px;
	padding: 5px;
	background-color: #da4f49;
	*background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

body {
	margin: 5px;
	text-align: center;
}

h3 {
}

.stacked-btn {
	margin-bottom: 5px;
}

#VinylCount {
	margin-top: -10px;
}

#AlbumCoverImage img {
	border: 5px ridge #ee5f5b;
	height: 200px;
	width: auto;
	margin-bottom: 5px;
}

.flash_notice {
	border: 2px solid blue;
	color: blue;
	width: 100px;
	text-align: center;
	display: block;
}