// Place all the styles related to the Vinyls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#VinylInfo {
	float: left;
	display: inline-block;
	margin: 3px 5px;
	border: 2px solid black;
	padding: 2px;
	text-align: center;
}

.BottomLink {
	clear: both;
	margin: 5px 5px;
}

h1 {

	a {
		text-decoration: none;
		color: white;
	}

	background-color: blue;
	color: white;
	margin: -5px -5px 5px -5px;
	padding: 5px;
}

body {
	margin: 5px;
}

h3 {
	margin-top: -3px;
	margin-bottom: -3px;
}